@import "../../styles/theme.scss";

.navbar {
    width: 100%;
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    ul{
       display: flex;
        height: 20px;
        li{
            padding: 0 20px;
            border-left: 1px solid #fff;
            list-style-type: none;
            a{
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                color: darken($color: #fff, $amount: 25);
            }

        }
    }
}